@page "/"

<div class="jumbotron">
    <h1 class="display-4">Welcome to BlazorQuiz</h1>
    <p class="mb-1">Built with
        <a href="https://blazor.net/">Blazor</a> and the 
        <a href="https://opentdb.com/">Open trivia database</a>
    </p>
</div>